@use './variables' as *;


@mixin flex-center {
    display: flex;
    // justify-content: center;
    align-items: center;

}

@mixin cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header {
    background-color: $background-primary;

    &__home{
        clip-path: ellipse(100% 100% at top);
    }

    &__top {
        @include flex-center;
        padding: 5px 0;
        gap: 20px;
        justify-content: space-between;
        position: relative;

    }

    &__logo {
        max-width: 100px;
        height: auto;

        img {
            @include cover-img
        }
    }

    &__list {
        @include flex-center;
        gap: 50px;
        font-size: 16px;
        color: $head-color;
        cursor: pointer;
    }



    &__auth {
        @include flex-center;
        gap: 20px;
    }

    &__banner {
        margin-bottom: 80px;
        @include flex-center;
        justify-content: space-between;
        gap: 50px;
    }


    &__girl,
    &__content {
        flex-basis: calc(100%/2);
    }



    &__title {
        font-size: 50px;
        font-weight: bold;
        color: $primary-color;

        span {
            color: $sencond-color;
        }

        margin: 15px 0;
    }

    &__desc {
        font-size: 16px;
        color: $desc-color;
        margin: 15px 0;
    }

    &__watch {
        margin-top: 15px;
        @include flex-center;
        gap: 25px;
    }

    &__play {
        padding: 20px;
        border-radius: 50%;
        background-color: #fff;
        color: aqua;
        font-weight: 600;
    }

    &__subdesc {
        font-size: 16px;
        color: $desc-color;
    }

    &__girl {
        img {
            @include cover-img;
        }
    }

    &__bar {
        display: none;
        cursor: pointer;
    }


    @media (max-width: 991px) {
        &__list {
            white-space: nowrap;
            font-size: 14px;
            gap: 25px;
        }

        &__title {
            font-size: 25px;
        }

        &__desc {
            font-size: 14px;
        }

        &__watch {
            margin-top: 12px;
        }

        &__play {
            padding: 10px;
            font-weight: 500;
            font-size: 12px;
        }

        &__subdesc {
            font-size: 12px;
            color: $desc-color;
        }

    }

    @media (max-width: 767px) {
        &__bar {
            display: block;
            font-size: 25px;
        }

        &__list,
        &__auth {
            display: none;
        }

        &__banner {
            flex-direction: column;
            gap: 10px;
        }

        &__girl {
            order: 2;
        }

        &__watch {
            justify-content: center;
            margin-top: 50px;
        }

        &__content {
            text-align: center;
        }
    }
}


.dropdown {
    position: absolute;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0 20px;
    transition: all 0.3s ease;
    top: 100%;

    &__item {
        padding: 10px;
        font-size: 14px;

        a {
            text-decoration: none;
            color: $head-color;
        }
    }


    &.show {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
        padding: 10px 20px;
    }
}